<class>com.madsi.marketing.digital.model.domain.Campanha</class>
<class>com.madsi.marketing.digital.model.domain.CampanhaMetrica</class>
<class>com.madsi.marketing.digital.model.domain.Empresa</class>
<class>com.madsi.marketing.digital.model.domain.FaixaEtaria</class>
<class>com.madsi.marketing.digital.model.domain.Meta</class>
<class>com.madsi.marketing.digital.model.domain.Objetivo</class>
<class>com.madsi.marketing.digital.model.domain.Plataforma</class>
<class>com.madsi.marketing.digital.model.domain.PlataformaFacebook</class>
<class>com.madsi.marketing.digital.model.domain.PlataformaGoogleAdword</class>
<class>com.madsi.marketing.digital.model.domain.PlataformaGoogleAnalytic</class>
<class>com.madsi.marketing.digital.model.domain.PublicoAlvo</class>
<class>com.madsi.marketing.digital.model.domain.Segmento</class>
<class>com.madsi.marketing.digital.model.domain.Token</class>
<class>com.madsi.marketing.digital.model.domain.Usuario</class>
