<class>com.bep.startup.model.domain.BimUse</class>
<class>com.bep.startup.model.domain.CheckType</class>
<class>com.bep.startup.model.domain.Cia</class>
<class>com.bep.startup.model.domain.ContactPerson</class>
<class>com.bep.startup.model.domain.Discipline</class>
<class>com.bep.startup.model.domain.Goal</class>
<class>com.bep.startup.model.domain.Hardware</class>
<class>com.bep.startup.model.domain.HardwareType</class>
<class>com.bep.startup.model.domain.Invite</class>
<class>com.bep.startup.model.domain.KeyMember</class>
<class>com.bep.startup.model.domain.MeetingParticipant</class>
<class>com.bep.startup.model.domain.MeetingProcedure</class>
<class>com.bep.startup.model.domain.MeetingType</class>
<class>com.bep.startup.model.domain.PotenticalUse</class>
<class>com.bep.startup.model.domain.Project</class>
<class>com.bep.startup.model.domain.ProjectCia</class>
<class>com.bep.startup.model.domain.ProjectPhase</class>
<class>com.bep.startup.model.domain.ProjectSchedule</class>
<class>com.bep.startup.model.domain.ProjectTeam</class>
<class>com.bep.startup.model.domain.QualityControl</class>
<class>com.bep.startup.model.domain.Software</class>
<class>com.bep.startup.model.domain.SoftwareType</class>
<class>com.bep.startup.model.domain.User</class>
<class>com.bep.startup.model.domain.Workset</class>
<class>com.bep.startup.model.domain.WorksetType</class>
