<class>com.bep.startup.model.domain.Cia</class>
<class>com.bep.startup.model.domain.ContactPerson</class>
<class>com.bep.startup.model.domain.Discipline</class>
<class>com.bep.startup.model.domain.Goal</class>
<class>com.bep.startup.model.domain.Hardware</class>
<class>com.bep.startup.model.domain.HardwareType</class>
<class>com.bep.startup.model.domain.Invite</class>
<class>com.bep.startup.model.domain.KeyMember</class>
<class>com.bep.startup.model.domain.PotenticalUse</class>
<class>com.bep.startup.model.domain.Project</class>
<class>com.bep.startup.model.domain.ProjectCia</class>
<class>com.bep.startup.model.domain.Software</class>
<class>com.bep.startup.model.domain.SoftwareType</class>
