#include("header.vm") 

package ${package}.controller;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpStatus;
import org.springframework.http.MediaType;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;
import org.springframework.web.bind.annotation.RestController;

import ${package}.model.domain.${entityName};
import ${package}.model.domain.dto.${entityName}DTO;
import ${package}.service.${entityName}Service;

#include("comments.vm")

@RestController
@RequestMapping(path = "/api/v1/$entityName.substring(0, 1).toLowerCase()$entityName.substring(1)", consumes = {MediaType.APPLICATION_JSON_VALUE}, produces = {MediaType.APPLICATION_JSON_VALUE})
public class ${entityName}Controller {

	@Autowired
	private ${entityName}Service<${entityName}DTO, ${entityName}, Long> service;

	@ResponseBody
	@RequestMapping(method = RequestMethod.GET)
	public ResponseEntity<Iterable<${entityName}DTO>> findAll() {
		return new ResponseEntity<Iterable<${entityName}DTO>>(this.service.findAll(), HttpStatus.OK);
	}
	
	@ResponseBody
	@RequestMapping(method = RequestMethod.POST)
	public ResponseEntity<${entityName}DTO> save(@RequestBody ${entityName}DTO dto) {
		this.service.save(dto);
		return new ResponseEntity<${entityName}DTO>(dto, HttpStatus.OK);
	}
	
	@ResponseBody
	@RequestMapping(method = RequestMethod.PUT)
	public ResponseEntity<${entityName}DTO> update(@RequestBody ${entityName}DTO dto) {
		this.service.save(dto);
		return new ResponseEntity<${entityName}DTO>(dto, HttpStatus.OK);
	}
	
	@ResponseBody
	@RequestMapping(path = "/{id}", method = RequestMethod.GET)
	public ResponseEntity<${entityName}DTO> findOne(@PathVariable Long id) {
		return new ResponseEntity<${entityName}DTO>(this.service.findOne(id), HttpStatus.OK);
	}
	
	@ResponseBody	
	@RequestMapping(path = "/{id}", method = RequestMethod.DELETE)
	public void delete(@PathVariable Long id) {
		this.service.delete(id);
	}

}