#include("header.vm") 

package ${package}.service;

import java.io.Serializable;

import com.bep.startup.model.domain.DomainEntity;
import com.bep.startup.model.domain.dto.DataTransferObject;

#include("comments.vm")

public abstract interface ${entityName}Service <T extends DataTransferObject, E extends DomainEntity<?>, ID extends Serializable> extends Service<T, E, ID> {

}